@model IEnumerable<Entidades.E.Eventos>
@{
    ViewBag.Title = "AddMusico";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>
<div>

    <font size="5" color="White">Adicione mais musicos ao evento</font>
</div>

<div class="panel">
    <form action="~/Eventos/AddMusico" method="post">

        <div class="form-group">
            <label>Evento</label>
            <select class="form-control" id="SelectedUserRoleId" name="idEvento">
                <option value="value">Selecione o Evento</option>

                @foreach (Entidades.E.Eventos item in @ViewBag.ListEvento)
                {
                    <option value="@item.idEvento">@item.nomeEvento</option>
                }

            </select>
        </div>

        <div class="form-group">
                <label>Musico</label>
                <select class="form-control" id="SelectedUserRoleId" name="musico.idMusico">
                    <option value="value">Selecione o Musico</option>

                    @foreach (Entidades.E.Musico item in @ViewBag.ListMusico)
                    {
                        <option value="@item.idMusico">@item.nomeMusico</option>
                    }

                </select>
            </div>

        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>

@*<h2>Musicos que comparecerão </h2>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Musico</th>
        </tr>
    </thead>
    @foreach (Music_Empire.Models.Eventos item in @ViewBag.ListMusEvento)
    {
        <tr>
            <th>@item.nomeEvento</th>
            <th>@item.musico.nomeMusico</th>

        </tr>

    }
</table>*@