@model IEnumerable<Entidades.E.Eventos>
@{
    ViewBag.Title = "CreateEventos";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

<div>

    <font size="5" color="White">Crie um evento</font>
</div>


<div class="panel">
    <form action="~/Eventos/CreateEventos" method="post">




        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="Nome do Evento" type="text" id="nomeEvento" name="nomeEvento" />
        </div>

        <div class="form-group">
            <label>Data</label>
            <input class="form-control" placeholder="Data do Evento" type="text" id="dataEvento" name="dataEvento" />
        </div>
        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" placeholder="Endereço do Evento" type="text" id="enderecoEvento" name="enderecoEvento" />
        </div>

      

        <div class="form-group">
            <label>Cidade</label>
            <select class="form-control" id="SelectedUserRoleId" name="localEvento.idLocal">
                <option value="value">Selecione a Cidade</option>

                @foreach (Entidades.E.Local item in @ViewBag.ListEstado)
                {
                    <option value="@item.idLocal">@item.nomeCidade</option>
                }

            </select>
        </div>
     
        
        <div class="form-group">
            <label>Empresa</label>
            <select class="form-control" id="SelectedUserRoleId" name="empresaEvento.idEmpresa">
                <option value="value">Selecione a Empresa</option>

                @foreach (Entidades.E.Empresas item in @ViewBag.ListEmpresa)
                {
                    <option value="@item.idEmpresa">@item.nomeEmpresa</option>
                }

            </select>
        </div>
         
        <div class="form-group">
            <label>Musico</label>
            <select class="form-control" id="SelectedUserRoleId" name="musico.idMusico">
                <option value="value">Selecione o Musico</option>

                @foreach (Entidades.E.Musico item in @ViewBag.ListMusico)
                {
                    <option value="@item.idMusico">@item.nomeMusico</option>
                }

            </select>
        </div>

        
       



        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
