@model IEnumerable<Music_Empire.Models.Eventos>
@{
    ViewBag.Title = "CreateEventos";
}

<h2>CreateEventos</h2>

<div class="panel">
    <form action="~/Eventos/CreateEventos" method="post">




        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="Nome do Evento" type="text" id="nomeEvento" name="nomeEvento" />
        </div>

        <div class="form-group">
            <label>Data</label>
            <input class="form-control" placeholder="Data do Evento" type="text" id="dataEvento" name="dataEvento" />
        </div>
        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" placeholder="Endereço do Evento" type="text" id="enderecoEvento" name="enderecoEvento" />
        </div>

      

        <div class="form-group">
            <label>Cidade</label>
            <select class="form-control" id="SelectedUserRoleId" name="localEvento.idLocal">
                <option value="value">Selecione a Cidade</option>

                @foreach (var item in @ViewBag.ListEstado)
                {
                    <option value="@item.idLocal">@item.nomeCidade</option>
                }

            </select>
        </div>
     
        
        <div class="form-group">
            <label>Empresa</label>
            <select class="form-control" id="SelectedUserRoleId" name="empresaEvento.idEmpresa">
                <option value="value">Selecione a Empresa</option>

                @foreach (var item in @ViewBag.ListEmpresa)
                {
                    <option value="@item.idEmpresa">@item.nomeEmpresa</option>
                }

            </select>
        </div>
         
        

        
       



        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
