@model IEnumerable<Entidades.E.Eventos>
@{
    ViewBag.Title = "Eventos";
}
div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

<div>

    <font size="5" color="White">Eventos</font>
</div>


<table class="table table-responsive table-hover ">
    <thead>
        <tr>
            <th><a class="btn btn-block" href="~/Eventos/CreateEventos"> + Eventos</a></th>
            <th><a class="btn btn-block" href="~/Eventos/AddMusico">  Adicionar Musico ao Evento</a></th>
            <th><a class="btn btn-block" href="~/Eventos/AddEmpresa">  Adicionar Empresa ao Evento</a></th>
            <th><a class="btn btn-block" href="~/Eventos/EventosEmpresas"> Empresas do Evento</a></th>
            <th><a class="btn btn-block" href="~/Eventos/EventosMusicos"> Musicos do Evento</a></th>
        </tr>
    </thead>
</table>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Cidade</th>
           
        </tr>
    
      
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.nomeEvento</th>
            <th>@item.dataEvento</th>
            <th>@item.enderecoEvento</th>
            <th>@item.localEvento.nomeEstado</th>
            <th>@item.localEvento.nomeCidade</th>
           

            <th><a class="btn btn-warning" href="~/Eventos/Update/@item.idEvento">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Eventos/Delete/@item.idEvento">Deletar</a></th>
        </tr>
       
         

    }
</table>