@model IEnumerable<Music_Empire.Models.Eventos>
@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos</h2>

<a class="btn btn-block" href="~/Eventos/CreateEventos"> + Eventos</a>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Cidade</th>
           
            <th>Empresa</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.nomeEvento</th>
            <th>@item.dataEvento</th>
            <th>@item.enderecoEvento</th>
            <th>@item.localEvento.nomeEstado</th>
            <th>@item.localEvento.nomeCidade</th>
           
            @*<th>@item.empresaEvento</th>*@

            <th><a class="btn btn-warning" href="~/Eventos/Update/@item.idEvento">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Eventos/Delete/@item.idEvento">Deletar</a></th>
        </tr>
    }
</table>