@model IEnumerable<Entidades.E.Eventos>
@{
    ViewBag.Title = "Busca";
}

<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>



    <font size="5" color="White">Eventos do Musico Pesquisado: </font>
 

<table class="table table-responsive">
    <thead>

        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Cidade</th>

        </tr>


    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.nomeEvento</th>
            <th>@item.dataEvento.ToShortDateString()</th>
            <th>@item.enderecoEvento</th>
            <th>@item.localEvento.nomeEstado</th>
            <th>@item.localEvento.nomeCidade</th>


            <th><a class="btn btn-warning" href="~/Eventos/Update/@item.idEvento">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Eventos/Delete/@item.idEvento">Deletar</a></th>
        </tr>



    }
</table>