@model Entidades.E.Musico

@{
    ViewBag.Title = "UpdateMusicos";
}
div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

			
<div>

    <font size="5" color="White">Editar</font>
</div>		


<div class="panel">
    <form action="~/Musicos/UpdateMusicos" method="post">


        <div class="form-group">

            <input class="form-control" type="hidden" id="idMusico" name="idMusico" value="@Model.idMusico" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="Nome do Musico" type="text" id="nomeMusico" name="nomeMusico" value="@Model.nomeMusico" />
        </div>

        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" placeholder="Endereço do Musico" type="text" id="enderecoMusico" name="enderecoMusico" value="@Model.enderecoMusico"/>
        </div>

        @*<div class="form-group">
            <label>Estado</label>
            <select class="form-control" id="SelectedUserRoleId" name="localMusico.idLocal">
                <option value="@Model.localMusico.idLocal">@Model.localMusico.nomeEstado</option>
               
                @foreach (var item in @ViewBag.ListEstado)
                {
                    <option value="@item.idLocal">@item.nomeEstado</option>
                }

            </select>
        </div>*@

        <div class="form-group">
            <label>Cidade</label>
            <select class="form-control" id="SelectedUserRoleId" name="localMusico.idLocal">
                <option value="@Model.localMusico.idLocal">@Model.localMusico.nomeCidade</option>

               
                @foreach (Entidades.E.Local item in @ViewBag.ListCidades)
                {
                    <option value="@item.idLocal">@item.nomeCidade</option>
                }

            </select>
        </div>




        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
